*
{
    margin:0;
    padding:0;
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(busmoving11.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
.main-nav
{
    float:right;
}
.main-nav li
{
    display:inline-block;
}
.main-nav li a
{
    color: white;
    text-decoration:none;
    padding:5px 20px;
    font-family:monospace;
    font-size:15px;
}
.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border:1px solid white;
}
.logo img
{
    width: 150px;
    height: auto;
    float:left;

}
body
{
    font-family:cursive;
}
.row
{
    max-width:1200px;
        margin:auto;
}

h1
{
    color:white;
}

.button
{
    margin-top: 30px;
    margin-left: 440px;
    
}
.btn
{
    border: 1px solid white;
    padding:10px 20px;
    color: white;
}
.login-page{
    width:360px;
    padding:10% 0 0;
    margin:auto;

}
.form{
    position:inherit;
    z-index:1;
    background: rgba(0,130,0,0.4);
    max-width:360px;
    margin:0 auto 80px;
    padding: 45px;
    text-align:center;
    
}
.form input{
    font-family:sans-serif;
    outline: 1;
    background: whitesmoke;
    width:100%;
    border:0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family:sans-serif;
    text-transform:uppercase;
    outline:0;
    background:brown;
    width:100%;
    border:0;
    padding:15px;
    color:white;
    font-size:15px;
    cursor:pointer;
}
.form .message a{
    color: yellow;
    
}
.form .login-form{
    display:none;
}




